*logs
*journals/
**/__pycache__/
**/test*.py
server/app/dist/index.html
**/dist
instance/
*.pem
server/user_data/
server/app/user_data/static/
server/app/modules/generate_memory_db_numbers.py
server/app/modules/generate_memory_numbers.py
server/app/modules/yandex_tts_free.py
server/app/modules/youtube_downloader.py
server/user_data/user_3/settings/**

node_modules/
package-lock.json
