/.venv
/.idea
/app/logs
/create_structure.bat
/app/backups/
/app/temp/
/docs/
/logs/
/app/static/*
/app/static/**
!/app/static/default_settings/
!/app/static/default_settings/**
!/app/static/audio/** 
!/app/static/sounds/** 
/venv/
/app/__pycache__/
*__pycache__
*.db
*.log
*journals/
!app/journals/
!app/journals/**
**/__pycache__/
server/app/dist/
*.pem
/user_data/
/app/user_data/static/
**/dist
app/modules/generate_memory_db_numbers.py
app/modules/generate_memory_numbers.py
app/modules/yandex_tts_free.py
app/modules/youtube_downloader.py
