/.venv
/.idea
/migrations
/app/logs
/create_structure.bat
/app/backups/
/app/temp/
/docs/
/logs/
/migrations/
/app/static/*
/app/static/**
!/app/static/default_settings/
!/app/static/default_settings/**
/venv/
/app/__pycache__/
*__pycache__
*.db
*.log
*journals/
!app/journals/
!app/journals/**
**/__pycache__/
server/app/dist/
*.pem
/user_data/
/app/user_data/static/
