/.venv
/.idea
/migrations
/app/logs
/create_structure.bat
/app/backups/
/app/temp/
/docs/
/logs/
/migrations/
/app/static/
/venv/
/app/__pycache__/
*__pycache__
*.db
*.log
*journals/
!app/journals/
!app/journals/**
