Flask~=3.0.3
SQLAlchemy~=2.0.29
flask_migrate
flask_sqlalchemy
pytest~=8.2.1
alembic~=1.13.1
meta_ai_api~=1.1.7
Werkzeug~=3.0.2
rapidfuzz~=3.9.3
python-dateutil~=2.9.0.post0
requests~=2.32.3
ffmpeg~=1.4
twitchio~=2.10.0
eventlet
gevent
flask_cors
flask_socketio
flask_wtf
flask_login
flask_jwt_extended
edge_tts
psycopg2-binary
Flask-Caching
pytz
flask-debugtoolbar