@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 200px;
  animation: marquee 10s linear infinite;
}
